.profile{
  display: inline-flex;
    flex-direction: row;
    width: 99vw;
    height: 80vh;
    box-shadow:  0 0 15px 5px grey;
    background: rgb(196, 188, 188);
    position: relative;
    background-color: darkkhaki;
}
.profile_image_left{
  width: 50vw;
  background-image: url('../../images/profile.png');
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.profile > .details {
  display: flex;
    flex-direction: column;
    justify-content: center;
    height: 78vh;
    width: 50vw;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    background-image: url('../../images/profile_inner.jpeg');
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
border:2px solid black;

}

.profile > .details > .inner_detail {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start; 
  margin-left: 100px;
  margin-top: 10px;
  padding: 30px;
  color: rgb(71, 21, 6);
}

.profile > .details > .inner_detail >h1{
  color: black;
  font-weight: bold;
}

.profile > .details > .inner_detail > button{
  margin-top: 30px;
  width: 250px;
  height: 30px;
  background-color: rgb(39, 98, 224);
  font-size: 15px;
  border-radius: 10px;
  font-weight: bold;
}
.profile > .details > .inner_detail > button:hover{
  background-color: chartreuse;
}
.profile > .details > .inner_detail > h3 >span {
  color: black;
  font-style: italic;
  font-weight: bold;
}